
<div class="page-header" id:"banner">
 <div class="row">
   <aside class="span4">
     <div class="col-xs-6 col-sm-6 col-md-4">
       <section>
	     <%= render 'shared/radiuspost_search' %>

	   </section>
     <% if signed_in? %>
       <section>
	     <%= render 'shared/user_info' %>
	   </section>
	   <section>
         <%= render 'shared/radiuspost_form' %>
	   </section>
	  <% end %>
     </div>
   </aside>
  <div class="span8">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h6> Lat <%= @lat %> and Lon <%= @lon %> ! </h6>
      <a id="getLocation" href="#">Get Location</a>
    <div id ='geoLocation'></div>
		<ol class="radiusposts">
		  <%= render @radiusposts %>
		</ol>
   </div>
  </div>
 </div>
</div>