
<div class="page-header" id:"banner">
<div class="container-fluid">
  <div class="row-fluid row">
    <div class="span3">
      <div class="well sidebar-nav-fixed" id="sidebar">
        <ul class="nav nav-list">
          <li class="nav-header"></li>
       <aside class="span3">
       <section>
	     <%= render 'shared/radiuspost_search' %>
	   </section>
       <% if signed_in? %>
       <section>
	     <%= render 'shared/user_info' %>
	   </section>
	   <section>
         <%= render 'shared/radiuspost_form' %>
	   </section>
	   <% end %>
	   </aside>
 		</ul>
	  </div>
    </div>
    <div class="span9 span-fixed-sidebar">
      <div class="hero-unit">
    <h6> Lat <%= @lat %> and Lon <%= @lon %> ! </h6>
      <a id="getLocation" href="#">Get Location</a>
    <div id ='geoLocation'></div>
      <div class="row-fluid">
        <div class="span9">
	  <%= render 'shared/feed' %>
   </div>
  </div>
 </div>
</div>
</div>
</div>