
<div class="page-header" id:"banner">
 <div class="row">
   <aside class="span4">
     <div class="col-xs-6 col-sm-6 col-md-4">
     <% if signed_in? %>
       <section>
	     <%= render 'shared/user_info' %>
	   </section>
	   <section>
         <%= render 'shared/radiuspost_form' %>
	   </section>
	  <% end %>
     </div>
   </aside>
  <div class="span8">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h3>Welcome to Radius - Find Out What's Happening Around You!
        This is the Lat <%= @lat %> and Lon <%= @lon %> ! </h3>
      <a id="getLocation" href="#">Get Location</a>
    <div id ='geoLocation'></div>
    <% if signed_in? %>
      <%= render 'shared/feed' %>
    <% end %>
   </div>
  </div>
 </div>
</div>