<% provide(:title, 'Add Interest') %>
<h1>Interests</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@interest) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>

	  <%= f.label :category %>
	  <%= f.text_field :category %>
	  
	  <%= f.label :cat_descr %>
	  <%= f.text_field :category_desc %>
	  
      <label class="checkbox"> <input type="checkbox"> 
	    <%= f.check_box :active %>
	    <%= f.label :active %>
	  </label>
	  
      <label class="checkbox"> <input type="checkbox"> 
	    <%= f.check_box :reserved %>
	    <%= f.label :reserved %>
	  </label>
 	  
	  <%= f.submit "Add Interest", class: "btn btn-medium btn-primary" %>
	<% end %>
  </div>
 </div>