<% provide :title, @user.radius_name %>
<div class="row">
  <div class="span4">
    <div class="col-xs-6 col-sm-6 col-md-4">
      <h3>
        <%= @user.radius_name %>
      </h3>
	  <h6>
        <%= link_to "Radius Profile", edit_user_path(current_user) %>
		Potentially make a partial out of the edit fields and render them here.
	  </h6>
    </div>
  </div>
  <div class="span8">
    <div class="col-xs-12 col-sm-6 col-md-8">
	<h4>This is the User/Show view </h4>
      <% if @user.radiusposts.any? %>
	    <h3>Posts (<%= @user.radiusposts.count %>)</h3>
		<ol class="radiusposts">
		  <%= render @radiusposts %>
		</ol>
		<%= will_paginate @radiusposts %>
	  <% end %>
    </div>
  </div>
 </div>

