<% provide(:title, 'All Zipcodes') %>
<h1>All Zipcodes</h1>

<div>
   <%= will_paginate %>
       <%= @zipcodes.each do |zip| %>
       <li>
         <%= zip.zipcode %>
         <%= zip.description %>
         <%= zip.city %>
         <%= zip.subcity %>
         <%= check_box_tag :active, 1, zipcode.active ? true : false %>
	   </li>
       <% end %>
      <%= will_paginate %>
</div>
