 
<%= f.label :first_name %>
<%= f.text_field :first_name %>

<%= f.label :last_name %>
<%= f.text_field :last_name %>

<%= f.label :radius_name %>
<%= f.text_field :radius_name %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, "Confirmation" %>
<%= f.password_field :password_confirmation %>

  <div class="form-group">
     <%= form_for(@user_profile) do |t| %>
	  <%= t.label :email %>
      <%= t.text_field :email %> 
	  <h5>Or</h5>
	  <%= t.label :security_one %>
      <%= t.text_field :security_one %>
  	  <%= t.label :answer_one %>
      <%= t.text_field :answer_one %>
	 </div>
   </form>
   
   <form class="form-inline" role="form">
  <div class="form-group">
     <%= f.fields_for @user_profile do |ff| %>
	  <%= ff.label :email %>
      <%= ff.text_field :email %> 
	  <h5>Or</h5>
	  <%= ff.label :security_one %>
      <%= ff.text_field :security_one %>
  	  <%= ff.label :answer_one %>
      <%= ff.text_field :answer_one %>
	 </div>
	<% end %>
   </form>
